.lst-column {
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	white-space: normal;
}

.lst-column-12,
.lst-column-6,
.lst-column-4 {
	.lst-column;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media (min-width: 769px) {
	.lst-column-4 { width: 33%; }
	.lst-column-6 { width: 50%; }
}

.lst-row:not(:last-child) {
	margin-bottom: 20px;
	white-space: nowrap;
}

