.lst-column {
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	white-space: normal;
}

.lst-column-12 {
	.lst-column;
	width: 100%;
}

.lst-column-6 {
	.lst-column;
	width: 50%;
}

.lst-column-4 {
	.lst-column;
	width: 33%;
}

.lst-row:not(:last-child) {
	margin-bottom: 20px;
	white-space: nowrap;
}

