.lst-top-menu {
	background: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	height: 90px;
	padding: 20px;

	.lst-logo,
	.lst-items {
		vertical-align: middle;
	}

	.lst-logo { display: inline-block; }
	.lst-logo img { height: 49px; }

	.lst-menu-button {
		display: none;
		
		@media (max-width: 768px){
			display: inline-block;
		}
	}

	.lst-items {
		display: none;
		float: right;
	
		@media screen and (min-width: 769px){
			display: inline-block;
		}
	}
	
	.lst-items .lst-item {
		display: inline-block;
		vertical-align: middle;
	
		.transition(color .4s);
	
		&:not(:last-child) {
			margin-right: 25px;
		}

		&:hover {
			color: @primary-color;
		}

		&.-featured {
			background: @primary-color;
			color: white;
			height: 44px;
			padding: 12px 30px;

			.border-radius(22px);
		}
	}
	
	.lst-items .lst-item a {
		color: inherit;
		text-decoration: inherit;
	}

	.lst-button {
		height: 44px;
		padding: 9px 5px;
		width: 44px;
	
		@media screen and (min-width: 768px){
			display: none;
		}
	
		.lst-bar {
			background: black;
			height: 5px;
			margin-bottom: 5px;
			width: 100%;
		}
	}
}