@spacing: 30px;

.lst-banner-section {
	background-color: @primary-color;
	background-image: url(../images/banner-bg.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 675px;
	padding: 100px 0;

	.lst-title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: @spacing;
	}

	.lst-divider {
		background: white;
		display: inline-block;
		height: 1px;
		margin-bottom: @spacing;
		width: 70px;
	}

	.lst-text {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: @spacing;
	}

	.lst-snapshots {
		float: right;
	}
}